body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 background-color: rgb(1, 1, 19);
 height: 572rem;
 overflow-x: hidden;
}



.logo img {
  width: 74px;
  height: 70px;
  margin-left: -95px;
  margin-top: -22px;
}
.logo p {
  margin-left: -44px;
  margin-top: -6px;
}
.nav li{
  margin-top: 23px;
}
.nav {
  display: flex;
  justify-content: space-evenly;
  height: 69px;
  color: white;
  margin: 10px;
}

/* hero section */

.hero-sec{
  display: flex;
  justify-content: space-around;
  margin-top: 101px;
}

.paragraph p {
  margin-top: 70px;
  font-size: 26px;
  word-spacing: 7px;
  color: white;
}
.paragraph h2 {
  color: white;
  font-size: 52px;
  margin-top: -14px;
  text-align: left;
  /* word-spacing: -2px; */
  font-weight: 400;
}

.paragraph h1 {
  color: white;
  font-size: 52px;
  margin-top: -60px;
  text-align: left;
  font-weight: 500px;
}

.paragraph button {
  height: 44px;
  width: 173px;
  border: none;
  margin-left: -22px;
  cursor: pointer;
  font-size: 15px;
}
.paragraph button:hover {

  background: darkblue;
  color: white;
  transition: 1.5s ease-in-out;
}
.paragraph span {
  color: white;
  margin-left: 70px;
}
.client-exp {
  display: flex;
  margin-left: 75px;
  margin-top: -115px;
}

.client-exp img {
  height: 60px;
  width: 70px;
  border-radius: 50%;
  border: 4px solid white;
  background-color: darkblue;
  margin-left: -29px;
  transition: transform 0.5s;
}
.client-exp span{
  color: white;
  font-size: 20px;
  font-weight: 600;
}
.client-exp p {
  color: white;
  font-size: 20px;
  font-weight: 400;
  margin-left: 20px;
  margin-top: 18px;
}
.client-exp img:hover{
  transform: scale(1.2);
}


.main-box-sec{
  display: flex;
  justify-content: space-evenly;
  border: 1px solid darkblue;
  height: 250px;

}
.main-box-sec .box-sec1{
 border-right: 1px solid darkblue;
 color: white;
}
.main-box-sec .box-sec2{
  border-right: 1px solid darkblue;
  color: white;
 }
 .main-box-sec .box-sec3{
  color: white;
 }

 .main-box-sec h2, p {
  text-align: left;
  margin-left: 95px;
}
.main-box-sec  img {
  margin-left: -145px;
  margin-top: 29px;
}


.service-sec {
  color: white;
  margin-top: 100px;
}
.service-sec h2{
  color: rgb(15, 15, 92);
}
.service-sec p {
  text-align: center;
  font-size: 50px;
  margin-left: 12px;
}
.service-sec span{
  font-weight: 700;
}
.service-sec h3 {
  font-weight: 300;
  font-size: 17px;
  margin-top: -38px;
}

.service-box-sec {
  display: flex;
  justify-content: space-evenly;
  margin-left: -75px;
}
.service-box-sec .brand-box1 img {
  height: 55px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: white;
  display: flex;
  margin-top: 6px;
  margin-left: 9px;
  transition: background-color 0.3s ease;
}
.service-box-sec .brand-box2 img{
  height: 55px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: white;
  display: flex;
  margin-top: 6px;
  margin-left: 9px;
}
.service-box-sec .brand-box3 img{
  height: 55px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: white;
  display: flex;
  margin-top: 6px;
  margin-left: 9px;
}
.service-box-sec .brand-box4 img{
  height: 55px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: white;
  display: flex;
  margin-top: 6px;
  margin-left: 9px;
}
.brand-box1{
  border: 1px solid white;
}
.brand-box2{
  border: 1px solid white;
}
.brand-box3{
  border: 1px solid white;
}
.brand-box4{
  border: 1px solid white;
}
.brand-box1
,.brand-box2
,.brand-box3
,.brand-box4 
{
  border: 1px solid white;
  width: 213px;
  height: 69px;
  border-radius: 47px;
}
.brand-box1, .brand-box2, .brand-box3, .brand-box4, h4 {
  font-size: 12px;
  margin-top: -45px;
  margin-left: 76px;
  text-align: left;
  font-weight: 900;
  color: white;
}
.service-box-sec .brand-box1 img:active{
background: #000;
}


.hero-serv-sec {
  display: flex;
  justify-content: space-evenly;
  margin-top: 80px;
}
.hero-serv-sec .para-sec-set{
    text-align: left;
}

.hero-serv-sec .para-sec-set p {
  color: darkblue;
  margin-left: 5px;
  font-size: 23px;
}
.hero-serv-sec .para-sec-set h1 {
  color: white;

  font-size: 42px;
  font-weight: 300;
}
.hero-serv-sec .para-sec-set span{
  color: white;

}
.card-serv{
  display: flex;
  margin-top: -230px;
}

.sec-card {
  color: white;
  text-align: left;
  border: 1px solid darkblue;
  width: 239px;
  border-radius: 11px;
  height: 164px;
  margin-left: 21px;
  background: #101028;
}
.sec-card img{
  height: 50px;
  width: 50px;
  margin-left: 11px;
}
.sec-card h3{
font-size: 15px;
}
.sec-card p {
  font-size: 15px;
  margin-left: 18px;
}

.our-serv{
  display: flex;
  justify-content: space-between;
  color: white;
}
.our-serv .our-serv1 h5 {
  font-size: 43px;
  margin-left: 95px;
  margin-top: -19px;
  text-align: left;
}
.our-serv .our-serv2 p {
  margin-left: 445px;
  margin-top: 60px;
  
}

.main-sec {
  color: white;
  border: 1px solid darkblue;
  height: 441px;
  border-bottom: none;
}
.main-sec .sec-logo {
  margin-left: 55px;
  text-align: left;
  margin-top: 71px;
}
.main-sec .sec-logo img {
  height: 50px;
  width: 50px;
  margin-bottom: -27px;
}
.main-sec .sec-logo p{
  margin-left: 10px;
}
.align-box{
  display: flex;
  margin-left: -36px;

}
.align-box .sec-card {
    text-align: center;
 line-height: 31px;

}
.align-box .sec-card:hover{
   transform: rotate(10deg);
  transition: 0.5s ease-in-out;
}
.align-box .sec-card a{
  color: blueviolet;
  text-decoration: none;

}
.main-sec .sec-web p{
  writing-mode: vertical-rl; 
  text-orientation: upright;
  padding: 10px;          
  font-size: 22px;       
}
.main-sec .sec-web {
  border-left: 1px solid darkblue;
  height: 435px;
  margin-left: 869px;
  margin-top: -404px;
}
.main-sec .sec-web p {
  margin-top: -183px;
}
.main-sec .sec-digt {
  border-left: 1px solid darkblue;
  height: 435px;
  margin-left: 941px;
  margin-top: -435px;
}
.main-sec .sec-brand {
  border-left: 1px solid darkblue;
  height: 435px;
  margin-left: 1047px;
  margin-top: -435px;
}
.ratting-main{
  display: flex;
  justify-content: space-around;
  border: 1px solid darkblue;
  height: 300px;
}
.ratting-main .rate-box1 {
  margin-top: 32px;
  color: darkblue;
  text-align: center;
  font-size: 20px;
}
.ratting-main .rate-box2 {
  margin-top: 32px;
  color: darkblue;
  text-align: center;
  font-size: 20px;
  border-left: 1px solid darkblue;
  height: 298px;
  margin-top: 1px;
}
.ratting-main .rate-box3 {
  margin-top: 32px;
  color: darkblue;
  text-align: center;
  font-size: 20px;
  border-left: 1px solid darkblue;
  height: 298px;
  margin-top: 1px;
}
.ratting-main .rate-box4 {
  margin-top: 32px;
  color: darkblue;
  text-align: center;
  font-size: 20px;
  border-left: 1px solid darkblue;
  height: 298px;
  margin-top: 1px;
}
.ratting-main .rate-box1 p {
  color: white;
  font-size: 15px;
  margin-left: 27px;
  margin-top: -29px;
}
.ratting-main .rate-box1 img {
  margin-left: 20px;
  margin-top: 21px;
}
.ratting-main .rate-box2 p {
  color: white;
  font-size: 15px;
  margin-left: 72px;
  margin-top: -28px;
}
.ratting-main .rate-box2 img {
  margin-left: 66px;
  margin-top: 56px;
}
.ratting-main .rate-box2 h1 {
  margin-left: 43px;
  margin-top: 23px;
}


.ratting-main .rate-box3 p {
  color: white;
  font-size: 15px;
  margin-left: 72px;
  margin-top: -28px;
}
.ratting-main .rate-box3 img {
  margin-left: 66px;
  margin-top: 56px;
}
.ratting-main .rate-box3 h1 {
  margin-left: 43px;
  margin-top: 23px;
}

.ratting-main .rate-box4 p {
  color: white;
  font-size: 15px;
  margin-left: 72px;
  margin-top: -28px;
}
.ratting-main .rate-box4 img {
  margin-left: 66px;
  margin-top: 56px;
}
.ratting-main .rate-box4 h1 {
  margin-left: 43px;
  margin-top: 23px;
}
.project-sec .project-para-sec p {
  color: #52455c;
  text-align: center;
  margin-left: 3px;
  margin-top: 98px;
  word-spacing: 7px;
  letter-spacing: 10px;
}
.project-sec .project-para-sec h1 {
  color: wheat;
  font-size: 46px;
  margin-top: -11px;
  font-weight: 900;
  word-spacing: 15px;
}

.project-sec .project-nav {
  display: flex;
  color: white;
  margin-top: 70px;
}
.project-sec .project-nav li {
  margin-left: 77px;
  list-style: none;
  font-weight: 100;
transform: scale(10px);
}
.project-sec .project-nav li:hover{
  border-bottom: 2px solid darkblue;
  transition: 0.6s ease;
}
.project-main{
  display: flex;
}

.project-main img{
  width: 250px;
  height: 600px;
  margin-top: 30px;
}
.project-main .project1 img {
  margin-left: -137px;
  height: 450px;
}
.project-main .project2 img {
  margin-left: 33px;
}
.project-main .project3 img {
  margin-left: 40px;
 
}
.project-main .project4 img {
  margin-left: 50px;
   height: 450px;
}
.project-main .project4 button {
  background-color: #181856;
  height: 52px;
  width: 140px;
  margin-top: 75px;
  margin-left: 45px;
}
.project-main .project4 a{
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.project-main .project5 img {
  margin-left: 60px;
}
.video-container{
  margin-left: -53px;
}
.video-container img {
  margin-top: 45px;
  margin-left: 56px;
}
.btn-con-men {
  margin-left: -38px;
}
.btn-con-men button {
  height: 50px;
  width: 174px;
  margin-left: 31px;
  background: #08082c;
  color: white;
  font-size: 16px;
  border-radius: 31px;
  cursor: pointer;
}
.btn-con-men button:hover {
  background: #292954;
  transition: 0.5s ease-in-out;
}
.main-pay-con-sec{
  display: flex;
  margin-left: 37px;
}


.pay-container {
  color: white;
  border: 1px solid darkblue;
  width: 480px;
  margin-top: 65px;
  text-align: left;
  
}
.pay-container .payment1 .bot-border{
  border-bottom: 1px solid darkblue;
}
.pay-container .payment1 h1 {
  font-size: 29px;
  margin-top: 18px;
  margin-left: 10px;
}
.pay-container .payment1 p {
  font-size: 38px;
  color: #15155a;
  margin-top: -89px;
  margin-left: 353px;
}
.pay-container .payment1 h1 span {
  margin-top: 10px;
  color: #282850;
  font-size: 17px;
}

.pay-container .ul-con {
  margin-top: 24px;
  margin-left: 33px;
  line-height: 43px;
}

.pay-container button {
  height: 50px;
  width: 174px;
  margin-left: 13px;
  background: #08082c;
  color: white;
  font-size: 16px;
  margin-top: 37px;
  cursor: pointer;
}
.pay-container button:hover{
  background: #292954;
  transition: 0.5s ease-in-out;
}

/* second box */

.pay-container2 {
  color: white;
  border: 1px solid darkblue;
  width: 480px;
  margin-top: 65px;
  text-align: left;
  margin-left: 90px;
  
}
.pay-container2 .payment1 .bot-border{
  border-bottom: 1px solid darkblue;
}
.pay-container2 .payment1 h1 {
  font-size: 29px;
  margin-top: 18px;
  margin-left: 10px;
}
.pay-container2 .payment1 p {
  font-size: 38px;
  color: #15155a;
  margin-top: -89px;
  margin-left: 353px;
}
.pay-container2 .payment1 h1 span {
  margin-top: 10px;
  color: #282850;
  font-size: 17px;
}

.pay-container2 .ul-con {
  margin-top: 24px;
  margin-left: 33px;
  line-height: 43px;
}

.pay-container2 button {
  height: 50px;
  width: 174px;
  margin-left: 13px;
  background: #08082c;
  color: white;
  font-size: 16px;
  margin-top: 37px;
  cursor: pointer;
}
.pay-container2 button:hover{
  background: #292954;
  transition: 0.5s ease-in-out;
}

.pay-container h6 {
  color: #303078;
  font-size: 13px;
  margin-left: 337px;
  margin-top: -38px;
}

.pay-container2 h6 {
  color: #303078;
  font-size: 13px;
  margin-left: 337px;
  margin-top: -38px;
}
.pay-container2 .payment2{
  margin-top: 10px;
}

.pay-container2 .payment2 .bot-border{
  border-bottom: 1px solid darkblue;
}
.pay-container2 .payment2 h1 {
  font-size: 29px;
  margin-top: 18px;
  margin-left: 10px;
}
.pay-container2 .payment2 p {
  font-size: 38px;
  color: #15155a;
  margin-top: -89px;
  margin-left: 353px;
}
.pay-container2 .payment2 h1 span {
  margin-top: 10px;
  color: #282850;
  font-size: 17px;
}
.main-heading-box .headin-sec1 {
  color: white;
  margin-top: 66px;
  font-size: 15px;
  border: 1px solid darkblue;
  text-align: left;
  width: 75%;
  margin-left: 158px;
}
.main-heading-box .headin-sec2 {
  color: white;
  margin-top: 9px;
  font-size: 15px;
  border: 1px solid darkblue;
  text-align: left;
  width: 75%;
  margin-left: 158px;
}
.main-heading-box .headin-sec3 {
  color: white;
  margin-top: 9px;
  font-size: 15px;
  border: 1px solid darkblue;
  text-align: left;
  width: 75%;
  margin-left: 158px;
}
.main-heading-box .headin-sec4 {
  color: white;
  margin-top: 9px;
  font-size: 15px;
  border: 1px solid darkblue;
  text-align: left;
  width: 75%;
  margin-left: 158px;
}
.main-heading-box .headin-sec5 {
  color: white;
  margin-top: 9px;
  font-size: 15px;
  border: 1px solid darkblue;
  text-align: left;
  width: 75%;
  margin-left: 158px;
}
.main-heading-box .headin-sec6 {
  color: white;
  margin-top: 9px;
  font-size: 15px;
  border: 1px solid darkblue;
  text-align: left;
  width: 75%;
  margin-left: 158px;
}
.banner-sec img {
  width: 85%;
  margin-top: 100px;
}
.banner-heading{
  margin-top: -250px;
}
.banner-heading h1 {
  color: white;
  font-size: 40px;
  text-align: left;
  margin-left: 170px;
  margin-top: -24px;
}
.banner-heading button {
  height: 50px;
  width: 174px;
  margin-left: -634px;
  background: #08082c;
  color: white;
  font-size: 16px;
  margin-top: 9px;
  cursor: pointer;
}
.banner-heading button:hover{
  background: #292954;
transition: 0.5s ease-in-out;
}
.banner-heading input {
  height: 49px;
  width: 517px;
  margin-left: 305px;
  margin-top: 4px;
  border-top: none;
  border-left: none;
  border-right: none;
  background: #101018;
 
}
.banner-heading .banner-form{
  margin-top: -180px;
   color: white;
}

/* Footer section */

.main-footer-sec{
  margin-top: -24px;
}

.main-footer-sec img{
  width: 30%;
  margin-left: -55%;
  height: 800px;
}

.main-footer-sec .footer  {
  height: 800px;
  width: 55%;
  margin-left: 37.5%;
  margin-top: -69.5%;
  background-color: rgb(1, 1, 19);
}
.card-coun1   {
  /* border: 1px solid white; */
  width: 16%;
  height: 109px;
  background: #0e0e18;
  border-radius: 12px;
  margin-left: 455px;
  margin-top: -774px;
}
.main-footer-sec 
 .card-coun1 p{
  color: white;
  margin-left: 24px;
}
.main-footer-sec 
 .card-coun1 h1 {
  color: white;
  font-size: 12px;
  text-align: left;
  margin-left: 64px;
  margin-top: -19px;
}
.main-footer-sec 
 .card-coun1 img {
  height: 33px;
  width: 44px;
  margin-right: 17px;
  margin-bottom: -24px;
}




.card-coun2 {
  /* border: 1px solid white; */
  width: 16%;
  height: 109px;
  background: #0e0e18;
  border-radius: 12px;
  margin-left: 658px;
  margin-top: -108px;
}
.main-footer-sec 
 .card-coun2 p{
  color: white;
  margin-left: 24px;
}
.main-footer-sec 
 .card-coun2 h1 {
  color: white;
  font-size: 12px;
  text-align: left;
  margin-left: 64px;
  margin-top: -19px;
}
.main-footer-sec 
 .card-coun2 img {
  height: 33px;
  width: 44px;
  margin-right: 17px;
  margin-bottom: -24px;
}




.card-coun3 {
  /* border: 1px solid white; */
  width: 16%;
  height: 109px;
  background: #0e0e18;
  border-radius: 12px;
  margin-left: 860px;
  margin-top: -108px;
}
.main-footer-sec 
 .card-coun3 p{
  color: white;
  margin-left: 24px;
}
.main-footer-sec 
 .card-coun3 h1 {
  color: white;
  font-size: 12px;
  text-align: left;
  margin-left: 64px;
  margin-top: -19px;
}
.main-footer-sec 
 .card-coun3 img {
  height: 33px;
  width: 44px;
  margin-right: 17px;
  margin-bottom: -24px;
}

.foot-con h1 {
  color: white;
  font-size: 47px;
  font-weight: 800;
}
.foot-con span{
  color: #15155a;
}
.foot-con p {
  color: white;
  font-size: 21px;
  text-align: left;
  margin-left: 455px;
  font-weight: 100;
}

.foot-nav-main {
  display: flex;
  margin-left: 461px;
  color: white;
  font-size: 13px;
  margin-top: 17px;
  line-height: 4;
}
.foot-nav-main .quick-links li {
  margin-left: 25px;
  text-align: left;
  line-height: 2;
  list-style: none;
  font-size: 17px;
}
.foot-nav-main .Services li {
  margin-left: 40px;
  text-align: left;
  line-height: 2;
  list-style: none;
  font-size: 17px;
}
.foot-nav-main .Porfolio li {
  margin-left: 85px;
  text-align: left;
  line-height: 2;
  list-style: none;
  font-size: 17px;
}
.foot-nav-main a{
  color: white;
  transition: transform 2s ease, background-color 2s ease;
}
.foot-nav-main a:hover{
  transform: translateY(-50px);
      background-color: #555;
}